@import './variables';
@import './util';

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Forced Square';
    src: url(../assets/forced_square.ttf);
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url(../assets/titillium_web_semibold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url(../assets/titillium_web_regular.ttf);
    font-weight: normal;
}

@mixin pxs-font {
    font-family: 'TitilliumWeb';
}

.pxs {
    &-small {
        @include pxs-font;
        font-size: 0.9rem;
    }
    &-medium {
        @include pxs-font;
        font-size: 1.2rem;
    }
    &-large {
        @include pxs-font;
        font-size: 2rem;
    }
}

html,
body,
#root {
    @include fill-space;
}

#root {
    background-color: $black;
}

#main-window-container {
    @include fill-space;
    display: flex;
}

.noselect {
    @include noselect;
}
